## Build files
*.a
build/

## Python objects
__pycache__/
*.pyc
*.pyd
*.pyo

## OSX junk
.DS_Store
.Trashes
._*

## Temporary files
*.tmp
*.swp
*~

*.v64
*.z64
*.elf
*.bin
*.o
*.dfs

## Editors
.vscode/settings.json
