## Build files
*.a
build/
filesystem/

## Python
__pycache__/
venv/
*.egg-info/
*.pyc
*.pyd
*.pyo

## OSX junk
.DS_Store
.Trashes
._*

## Windows junk
*Zone.Identifier

## Temporary files
*.tmp
*.swp
*~

## Output files
*.v64
*.z64
*.elf
*.bin
*.o
*.dfs

## Editors
.vscode/settings.json
